name: "Photodash"
description: "A beautiful, photo focused Home Assistant alternative dashboard."
version: "0.1.0"
slug: "photo_dash"
init: false
arch:
  - aarch64
  - amd64
image: "apopoutsis/{arch}-photodash"
startup: before
ports:
  3000/tcp: 8800
services:
  - mysql:need
map:
  - share
homeassistant_api: true
webui: http://[HOST]:[PORT:3000]