name: "Photodash"
description: "A beautiful, photo focused Home Assistant alternative dashboard."
version: "0.1.1"
slug: "photo_dash"
init: false
arch:
  - aarch64
  - amd64
  - armhf
  - armv7
  - i386
startup: before
ports:
  3000/tcp: 8800
services:
  - mysql:need
homeassistant_api: true