name: "Publish"

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - name: Get current date
        uses: josStorer/get-current-time@v2
        id: current_date
        with:
          format: MMMM D, YYYY
      - name: Checkout the repository
        uses: actions/checkout@v3
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Publish
        uses: home-assistant/builder@master
        with:
          args: |
            --amd64 \
            --aarch64 \
            --target . \
            --docker-hub apopoutsis \
            --version "${{ github.ref_name }}"
      - name: Get release notes
        id: get_release
        uses: bruceadams/get-release@v1.3.2
        env:
          GITHUB_TOKEN: ${{ github.token }}
      - name: Write release notes to docs
        uses: DamianReeves/write-file-action@master
        with:
          path: docs/docs/release-notes/${{ github.ref_name }}.md
          contents: |
            <h2>${{ steps.current_date.outputs.formattedTime }}</h2>
            
            ${{ steps.get_release.outputs.body }}
      - name: Commit & push release to docs
        uses: Andro999b/push@v1.3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: main
          message: |
            docs: add release notes for version ${{ github.ref_name }}
      - name: Checkout add-ons repo
        uses: actions/checkout@v3
        with:
          repository: apop880/hassio-addons
      - name: Write to add-on changelog
        uses: DamianReeves/write-file-action@master
        with:
          path: photodash/CHANGELOG.md
          contents: |
            # What's Changed

            ${{ steps.get_release.outputs.body }}
            Visit [https://photodash.apop.tech/docs](https://photodash.apop.tech/docs) to view release notes from this and previous releases.
      - name: Bump add-on version
        uses: fjogeleit/yaml-update-action@main
        with:
          valueFile: 'photodash/config.yaml'
          propertyPath: 'version'
          value: '${{ github.ref_name }}'
          commitChange: false
      - name: Commit & push release to addons-repo
        uses: Andro999b/push@v1.3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: main
          message: |
            release: photodash version ${{ github.ref_name }}